version: '3'
services:
  app:
    image: node:10.12
    container_name: node-app
    ports:
      - 3000:3000
    working_dir:
      /src
    volumes:
      - ./app:/src
    command: [sh, -c, npm install && npm start]
  api:
    image: node:10.12
    ports:
      - 3000:4000
    working_dir:
      /src
    volumes:
      - ./app:/src