version: '3'
services:
  app:
    image: node:12.4
    container_name: app
    environment:
      PORT: 3000
      HOST: 0.0.0.0
    ports:
      - "3000:3000"
    working_dir:
      /src
    volumes:
      - ./app:/src
    command: [sh, -c, yarn install && yarn dev]
  api:
    image: node:12.4
    container_name: api
    ports:
      - 4000:4000
    working_dir:
      /api
    volumes:
      - ./api:/api
    command: [sh, -c, yarn install && yarn start]